nav {
    width: 100%;
    display: flex;
    justify-content: space-evenly;

    background: $dark3;
    height: 65px;

    #title-wrapper {
        align-self: center;
        justify-self: center;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 45px;
        font-family: 'Russo One', sans-serif;
        text-shadow: 2px 2px $dark2;
        color: $light;
    }

    #nav-right{
        align-self: center;
        justify-self: flex-end;

        font-weight: bold;

        display: flex;

        ul, li {
            height: 65px;
            display: flex;
            align-content: center;
            text-align: center;

            div {
                height: fit-content;
                align-self: center;
                margin: 20px;
            }
        }

        li:hover{
            background-color: $light;
            color: $dark;
            a{
                color: $dark;
            }
        }

    }

}